@import "./utils/variables";
@import "./base/typography";

*, *::before, *::after {
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65px;
    padding-bottom: 5px;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 20px;
    margin: 0px;
    background-color: #EAEAEA;
    box-shadow: 0px 6px 6px -9px black inset;
    & i{
        font-size: 90%;
    }
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: #F7F7F7;

    &__title{
       width: 90%;
       font-weight: 550;
        margin: 0px;

    }
    &__text{
        font-size: 20px;
        font-weight: 300;
    }
}

