.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    color: #ffff;
    background: linear-gradient(to left top, #a65cdc,  #ec73da);
    border-radius: 25px;
}

.new-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
    color: #008766;
    background-color: $color-tertiary;
    border-radius: 2px;
}

.heart-button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    height: 40px;

    & i{
        font-size: 22px;
        position: relative;
        &:hover{
            &::after{
                transform: scale(1);
            }
        }  

    &::after{
        content:'\f004';
        position: absolute;
        top: 0px;
        left: 0px;
        transform: scale(0);
        font-weight: 900;
        background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
        background-clip: text;
        color: transparent;
        transform-origin: bottom;
        transition: transform 400ms;
    }
}
}