.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    color: white;
    background: linear-gradient(to left top, #a65cdc,  #ec73da);
    border-radius: 25px;
}