@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

figure{
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h3{
    margin: 0px;
}

p{
    margin: 0px;
}

a{
    text-decoration: none;
    color: #000;
}

@mixin menu-components{
    font-weight: 300;
    font-size:medium;
}

@mixin restaurants-title {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

