.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 20px;
    margin: 0px;
    background-color: #EAEAEA;
    box-shadow: 0px 6px 6px -9px black inset;
    & i{
        font-size: 90%;
    }
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: #F7F7F7;

    &__title{
       width: 88%;
       font-weight: 550;
        margin: 0px;

    }
    &__text{
        font-size: 19px;
        font-weight: 300;
    }
}

.operation{
    padding: 20px;
    &__steps{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        
    }
}

.steps-button{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;;
    height: 75px;
    box-shadow: 6px 6px 8px 0.5px rgb(221, 221, 221);
    background-color: #F7F7F7;
    border-radius: 25px;
    margin-bottom: 20px;
    & span{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 26px;
        left: -10px;
        padding-left: 8px;
        padding-top: 4px;
        color: #ffff;
        background-color: $color-primary;
        border-radius: 50%;
    }
    & i{
        width: 25%;
        text-align: center;
        color: grey;
        font-size: 20px
    }
    &:hover{
        background-color: #f5edff;
        & i{
            color: $color-primary;
        }
    }
}

.restaurants{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 20px;
    &__list{
        display: flex;
        flex-direction: column;
        &__card{
            display: flex;
            flex-direction: column;
            background-color: #ffff;
            border-radius: 25px;
            margin-bottom: 20px;
            &__img{
                width: 100%;
                height: 170px;
                border-radius: 15px 15px 0 0;
            }
            & figure{
                position: relative;
            }
            &__text{
                display: flex;
                justify-content: space-between;
                padding: 15px 25px 10px 10px;
                & h3, p{
                    margin: 0px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.new-button{
    position: absolute;
    top: 10px;
    right: 10px;
}