footer {
    padding: 20px;
    color: #ffff;
    background-color: #353535;

    & h3 {
        @include restaurants-title;
        margin-bottom: 15px;
    }

    & ul {
        padding-left: 0px;
        margin: 0px;

        & li {
            list-style-type: none;
            padding: 5px 0px;

            & i {
                font-size: 13px;
                margin-right: 10px;
            }
        }
    }

    & a {
        color: #ffff;
    }

    @media all and (min-width: $tablet-wide) {
        display: flex;
        align-items: center;
        flex-direction: column;

        h3 {
            font-size: 30px;
            text-align: center;
        }

        .footer__links {
            display: flex;
            justify-content: space-between;
            width: 80%;
            height: 80px;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                font-size: 25px;
            }
        }
    }
    
}