footer {
    padding: 20px;
    color: #ffff;
    background-color: #353535;

    @media all and (min-width: $tablet-width) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    & h3 {
        @include restaurants-title;
        margin-bottom: 15px;

        @media all and (min-width: $tablet-width) {
            font-size: 30px;
            text-align: center;
        }
    }

    .footer__links {
        @media all and (min-width: $tablet-width) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 80px;
        }

        @media all and (min-width: $desktop-width) {
            height: auto;
        }

        & ul {
            padding: 0px;
            margin: 0px;

            @media all and (min-width: $tablet-width) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                font-size: 16px;
            }

            @media all and (min-width: $desktop-width) {
                flex-direction: row;
                padding: 10px;
            }

            & li {
                list-style-type: none;
                padding: 5px 0px;
                cursor: pointer;

                & i {
                    font-size: 16px;
                    margin-right: 10px;
                }

                @media all and (min-width: $tablet-width) {
                    display: flex;
                    justify-content: center;
                }

                @media all and (min-width: $desktop-width) {
                    padding: 0px;
                }
            }

            & a {
                color: #ffff;
            }
        }
    }
}