header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65px;
    padding-bottom: 5px;
    & i{
        position: absolute;
        font-size: larger;
        top: 30px;
        left: 20px;
    }
}