.loader {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: opacity 3s forwards;
    background-image: url(/images/loader.jpg);
    object-fit: cover;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        font-size: 270%;
        color: beige;
        border: 3px solid $color-primary;
        padding: 30px;
        font-family: 'Shrikhand', cursive;
        border-radius: 15px;
        animation: loader 3s ease-in-out both ;
        background: linear-gradient(to left top, #a65cdc,  #ec73da);
    }
}