.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    width: 100%;
    height: 100%;
    animation: opacity 3s forwards;
    background-image: url(https://pbs.twimg.com/media/ElkWYo_XYAA2Kzx.jpg:large);
    object-fit:cover;
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        font-size: 270%;
        color: beige;
        border: 3px solid beige;
        padding: 30px;
        font-family: 'Shrikhand', cursive;
        transform: scale(0);
        animation-name: scale, spin;
        animation-duration: 1500ms, 1500ms;
        animation-delay: 0ms, 1500ms;
        animation-direction: alternate, normal;
        animation-iteration-count: 2;
        animation-fill-mode: both;
    }
}